body{font-family: tahoma; color: white; background-color: #052b50;}
h1{text-align: center}
a{color: orangered}
td{border-right: 3px solid gray; padding-bottom: 6px; padding-right: 6px}
tr:nth-child(even) {background-color: #03083b;}
table{width: 100%; border: 4px solid gray; padding: 8px}

